<!DOCTYPE html>
<html>
  <head>
    <title>Lab 03</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Good morning, <%= name %></h1>
    <p><%= days %> days until your <%= age %>th birthday</p>
  </body>
</html>